<ion-content class="content" padding>

  <ion-row>
    <ion-col>
      <img src="../../assets/imgs/logo.png" alt="App's logo"/>
      <ion-title>Bird sightings App</ion-title>
    </ion-col>
  </ion-row>

  <div class="content-box">
    <form (ngSubmit)="login()" #registerForm="ngForm">
      <ion-row>
        <ion-col>
          <ion-list>

            <ion-item no-lines>
              <ion-input type="text" placeholder="Email" name="email" [(ngModel)]="loginCredentials.email" required></ion-input>
            </ion-item>

            <ion-item>
              <ion-input type="password" placeholder="Password" name="password" [(ngModel)]="loginCredentials.password" required></ion-input>
            </ion-item>

          </ion-list>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <button ion-button class="button" full type="submit" [disabled]="!registerForm.form.valid">Login</button>
        </ion-col>
      </ion-row>

    </form>
  </div>

  <ion-row>
    <ion-col>
      <h6 class="author-name">{{authorName}}</h6>
    </ion-col>
  </ion-row>

</ion-content>
