<ion-header>

  <ion-navbar>
    <ion-title>Main Menu</ion-title>
  </ion-navbar>

</ion-header>

<ion-content class="content" padding>

  <ion-row>
    <ion-col>
      <ion-list>
        <button ion-button class="button" full (click)="showBirdList()">Bird list</button>
        <button ion-button class="button" full (click)="showAddBird()">Add bird</button>
        <button ion-button class="button" full (click)="showInfo()">Info</button>
        <button ion-button class="button" full (click)="disconnect()">Disconnect</button>

      </ion-list>
    </ion-col>
  </ion-row>

</ion-content>
