page-bird-list {

  .card-background-page {

    .bird-image {
      max-width: 100px;
      max-height: 100px;

    }

    .bird-data {
      font-size: 1.5em;
      position: relative;
      bottom: 10px !important;
      rigth: 20px !important;
    }

    .noUserSightings {
      color: #ff0000 !important;
    }

  }

}
