<ion-header>

  <ion-navbar>
    <ion-title>Birds List</ion-title>
  </ion-navbar>

</ion-header>

<ion-content class="content" padding>

  <ion-row>
    <ion-col>
      <ion-list>
        <ion-item *ngFor="let bird of birdList" (click)="selectBird(bird.id)">
          <ion-thumbnail item-left>
            <img class="bird-image" src={{bird.imageSrc}} alt="Image of a {{bird.name}}">
          </ion-thumbnail>
          <ion-card-title class="bird-name">
            {{bird.name}}
          </ion-card-title>
          <span item-right>
              <p>Sightings:</p>
              <p *ngIf="bird.userSightings>0">{{bird.globalSightings}}</p>
              <p class="noUserSightings" *ngIf="bird.userSightings==0">{{bird.globalSightings}}</p>
          </span>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>

</ion-content>
