<ion-header>

  <ion-navbar>
    <ion-title>Details of {{Name}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-col>
    <ion-row>
      <ion-grid>
        <ion-card>
          <img class=bird-image src={{ImageSrc}} alt="Image of a {{Name}}">
          <ion-card-content>
            <ion-item>
              <p item-start>Description:</p>
              <p item-end>{{Description}}</p>
            </ion-item>
            <ion-item>
              <p item-start>Total of sightings:</p>
              <p item-end>{{GlobalSightings}}</p>
            </ion-item>
            <button ion-button full (click)="addSighting()">Add Sighting</button>
          </ion-card-content>
        </ion-card>

        <div class="content-box">
          <ion-list inset>
            <ion-list-header>
              <ion-card-title>
                List of sightings
              </ion-card-title>
            </ion-list-header>
            <ion-card class="sighting" *ngFor="let sighting of ListSightings">
              <ion-item>
                <p item-start>{{sighting.id}}</p>
                <ion-title>{{sighting.placeDescription}}</ion-title>
                <p item-end>Latitude: {{sighting.latitude}}</p>
                <p item-end>Longitude: {{sighting.longitude}}</p>
              </ion-item>
            </ion-card>

          </ion-list>
        </div>
      </ion-grid>
    </ion-row>
  </ion-col>

</ion-content>
