// http://ionicframework.com/docs/theming/

.content {
  background: map-get($colors, light);
}

.content-box {
  background: map-get($colors, secondary);
  padding: 20px 20px 0px 20px;
  margin-top: 30px;
}

ion-title {
  text-align: center;
}

ion-row {
  align-items: center;
  text-align: center;
}

ion-item {
  border-radius: 30px;
  margin-bottom: 10px !important;
  border-bottom: 0px !important;
  box-shadow: none !important;
  border: 0px;
}

.button {
  background: map-get($colors, primary);
  border-radius: 30px !important;
  border: 1px solid map-get($colors, border);
  margin-bottom: 20px;
}

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
